      <!-- Konten Utama -->
    </div>
  </main>
  
  <!--Footer-->
  <footer></footer>
  <!--Footer-->
  
  <!-- PRISM -->
  <script src="/js/new-prism.js"></script>
  <!-- MDB SNIPPET -->
  <script src="/js/mdbsnippet.min.js"></script>
  <!-- MDB -->
  <script src="/js/mdb.min.js"></script>
  <script src="/js/app.js"></script>
  
  <!-- Custom scripts -->
  <script type="text/javascript">
    const sidenav = document.getElementById("sidenav-1");
    const instance = mdb.Sidenav.getInstance(sidenav);
  
    let innerWidth = null;
  
    const setMode = (e) => {
      // Check necessary for Android devices
      if (window.innerWidth === innerWidth) {
        return;
      }
  
      innerWidth = window.innerWidth;
  
      if (window.innerWidth < 1400) {
        instance.changeMode("over");
        instance.hide();
      } else {
        instance.changeMode("side");
        instance.show();
      }
    };
  
    setMode();
  
    // Event listeners
    window.addEventListener("resize", setMode);
  </script>
  </body>
  </html>