{{template "partials/header" .}}

<div class="container">
    <h1>Edit Profile</h1>
    <br>

<form method="POST" action="/profile/edit/{{.User.Id}}">
	<div class="form-group">
		<label for="image">Profile Picture</label> <br>
		<input type="file" class="form-control-file" id="image" name="image">
	</div>
	<div class="mb-3">
		<label for="username" class="form-label">Name</label>
		<input type="text" class="form-control" value="{{.User.Name}}" name="username" id="username" placeholder="Your Name" required>
	</div>
	<div class="mb-3">
		<label for="email" class="form-label">Email</label>
		<input type="email" class="form-control" value="{{.User.Email}}" name="email" id="email" placeholder="Your User Name" required>
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Role</label>
		<select class="form-select" name="role" aria-label="Default select example" required>
			<option>--Select Role</option>
			<option value="admin">Admin</option>
			<option value="user">User</option>
		</select>
	</div>
	<button type="submit" class="form-control btn btn-primary">Edit Profile</button>

</form>

</div>

{{template "partials/footer" .}}