{{template "partials/header" .}}

<h1>Profile</h1>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{.User.Name}}
            </h5>
            <p class="card-text">Username: {{.User.Username}}</p>
            <p class="card-text">Email: {{.User.Email}}</p>
            <p class="card-text">Role: {{.User.Role}}</p>
            <p class="card-text">Joined: {{ printf "%.10s" .User.CreatedAt}}</p>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <a href="/" class="btn btn-primary">Back</a>
    &nbsp;
    <a href="/profile/edit/{{.User.Id}}" class="btn btn-outline-primary">Edit Profile</a>
</div>

{{template "partials/footer" .}}