{{template "partials/header" .}}

<h1>Profile</h1>
<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                {{.User.Name}}
            </h5>
            <div class="profile-pic">
                <!-- <label class="-label" for="file">
                  <span class="glyphicon glyphicon-camera"></span>
                  <span>Change Image</span>
                </label> -->
                <!-- <input id="file" type="file" onchange="loadFile(event)"/> -->
                {{if .User.Image}}
                <img src="/public/uploads/profilepict/{{.User.Image}}" alt="Profile Picture" style="width:75px;">
                {{else }}
                <img src="/public/uploads/profilepict/default.jpg" alt="Profile Picture default"style="width:75px;">
                {{end}}
            </div>
            
            <p class="card-text">Username: {{.User.Username}}</p>
            <p class="card-text">Email: {{.User.Email}}</p>
            <p class="card-text">Role: {{.User.Role}}</p>
            <p class="card-text">Joined: {{ printf "%.10s" .User.CreatedAt}}</p>
        </div>
    </div>
</div>
<br>
<br>
<div>
    <a href="/" class="btn btn-primary">Back</a>
    &nbsp;
    <a href="/profile/edit/{{.User.Id}}" class="btn btn-outline-primary">Edit Profile</a>
    &nbsp;
    <a href="/profile/delete/{{.User.Id}}" class="btn btn-outline-danger">Delete User</a>
    &nbsp;
    {{if .User.Disable}}
    <a href="/profile/enable/{{.User.Id}}" class="btn btn-outline-warning">Enable this User</a>
    {{else}}
    <a href="/profile/disable/{{.User.Id}}" class="btn btn-outline-warning">Disable this User</a>
    {{end}}
</div>

{{template "partials/footer" .}}