<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>M Holding</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->

</head>

<body>
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-lg-5">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">

							<div class="col-lg">
								<div class="p-5">
									<div class="text-center">
										GoLang M-Holding
										<h1 class="h4 text-gray-900 mb-4">Welcome To M-Holding</h1>
									</div>
									<br>
									<form method="POST" action="/register/tambah">
										<div class="mb-3">
											<label for="name" class="form-label">Name</label>
											<input type="text" class="form-control" name="name" id="name"
												placeholder="Your Name" requ>
										</div>
										<div class="mb-3">
											<label for="username" class="form-label">User Name</label>
											<input type="text" class="form-control" name="username" id="username"
												placeholder="Your User Name" required>
										</div>
										<div class="mb-3">
											<label for="email" class="form-label">Email</label>
											<input type="email" class="form-control" name="email" id="email"
												placeholder="Your User Name" required>
										</div>
										<div class="mb-3">
											<label for="exampleInputPassword1" class="form-label">Role</label>
											<select class="form-select" name="role" aria-label="Default select example">
												<option>--Select Role</option>
												<option value="admin">Admin</option>
												<option value="user">User</option>
											</select>
										</div>
										<div class="mb-3">
											<label for="password" class="form-label">Password</label>
											<input type="password" class="form-control" name="password" id="password"
												placeholder="Your Password" required>
										</div>
										<button type="submit" class="form-control btn btn-primary">Register</button>

									</form>
									<div class="text-center">
										<a class="small" href="/login">Have an already account? Login</a>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<script src="/js/bootstrap.min.js"></script>
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->
</body>

</html>